@use "../../../styles//globals.scss" as globals;

.wrapperCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.productCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid globals.$black;
  border-radius: 8px;
  padding: 8px;
}

.img {
  border: 2px solid globals.$yellow-dark;
  border-radius: 8px;
}
